<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Application process</h1>
    <a href="/mentors">Mentors by School</a><br>
    <a href="/all-school">All School</a><br>
    <a href="/mentors-by-country">Mentors by Country</a><br>
    <a href="/contacts">Contacts</a><br>
    <a href="/applicants">Applicants</a><br>
    <a href="/applicants-and-mentors">Applicants and Mentors</a><br>
    
</body>
</html>
